*:focus, button:focus {
    outline: none;
}

body {
    background-color: black;
    font-family: "Catamaran", sans-serif;
    color: #ccc;
}

.display-none {
    display: none;
}

.display-flex {
    display: flex;
}

#array-container {
    height: 350px;
    margin-top: 3em;
    display: flex;
    flex-direction: column-reverse;
    position: relative;
}

#array {
    margin: 1em auto;
}

.element {
    display: inline-block;
    border-radius: 5px;
}

#no-algo-warning {
    position: absolute;
    justify-content: center;
    align-items: center;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    margin: auto;
    width: 250px;
    height: 50px;
    text-align: center;
    background-color: rgba(0, 0, 0, 0.8);
    border: 1px solid #ccc;
    border-radius: 5px;
}

#algo-container {
    max-width: 1000px;
    margin: 1em auto;
}

.algo-btn, #sort, #randomize {
    background-color: #222;
    margin: 5px 2px;
    padding: 5px 20px;
    color: #ccc;
    font-size: 1.2em;
    border: none;
    border-radius: 50px;
}

.algo-btn:hover, .algo-btn-active {
    background-color: #ccc;
    color: #222;
}

#sort {
    float: right;
    background-color: mediumspringgreen;
    color: black;
}

#sort:hover, #randomize:hover {
    opacity: 0.8;
}

#sort:disabled, #randomize:disabled {
    opacity: 0.5;
    cursor: not-allowed;
}

#change-container {
    max-width: 500px;
    margin: 1em auto;
}

#randomize, .slider-container {
    vertical-align: middle;
}

#randomize {
    background-color: crimson;
    color: #ddd;
}

#sliders {
    float: right;
}

.slider-container {
    display: inline-block;
    margin-left: 20px;
}

.slider-container label {
    display: block;
    margin: 0;
    text-align: center;
    font-size: 1.2em;
}

.slider {
    -webkit-appearance: none;
    width: 130px;
    height: 15px;
    background-color: transparent;
}

.slider::-webkit-slider-runnable-track {
    -webkit-appearance: none;
    height: 5px;
    background-color: #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.slider::-moz-range-track {
    height: 5px;
    background-color: #ccc;
    border-radius: 5px;
    cursor: pointer;
}

.slider::-moz-range-progress {
    height: 5px;
    background-color: #777;
    border-radius: 5px;
    cursor: pointer;
}

.slider::-webkit-slider-thumb {
    -webkit-appearance: none;
    background-color: #222;
    border: 2px solid #ccc;
    width: 15px;
    height: 15px;
    border-radius: 15px;
    margin-top: -5px;
}

.slider::-moz-range-thumb {
    background-color: #222;
    border: 2px solid #ccc;
    width: 13px;
    height: 13px;
    border-radius: 13px;
    cursor: pointer;
}

.slider:disabled {
    opacity: 0.5;
}

.slider:disabled::-webkit-slider-runnable-track {
    cursor: not-allowed;
}

.slider:disabled::-moz-range-track {
    cursor: not-allowed;
}

.slider:disabled::-moz-range-progress {
    cursor: not-allowed;
}

.slider:disabled::-moz-range-thumb {
    cursor: not-allowed;
}
